@import "variables";
#hero-h1 {
	font-family: $secondary-font;
	margin-bottom: $SCALE-2;
	font-size: 50px;
	line-height: 80%;
	letter-spacing: -3px;
	color: black;
	@media (min-width: $sm) {
		font-size: 10vw;
	}
	@media (min-width: $md) {
		width: 80%;
		font-size: 72px;
	}
	
	@media (min-width: $lg) {
		width: 70%;
	}
}

#hero {

	@media (min-width: $md) {
		width: 80%;
	}

	@media (min-width: $lg) {
		width: 65%;
	}

	p {
		font-weight: 100;
		font-size: 20px;
		color: #6D6D6D;
		margin-top: 10px;
		@media (min-width: $md) {
			margin-top: 23px;
		}
	}
}