@import "variables";
#hero-h1 {
	font-family: $title-font;
	margin-bottom: $SCALE-2;
	line-height: 80%;
	letter-spacing: 0;
	color: black;
	@media (min-width: $sm) {
		font-size: 6vw;
	}
	@media (min-width: $md) {
		width: 80%;
		font-size: 40px;
	}
	
	@media (min-width: $lg) {
		width: 70%;
	}
}

#hero {

	@media (min-width: $md) {
		width: 80%;
	}

	@media (min-width: $lg) {
		width: 65%;
	}

	p {
		font-size: 20px;
		color: #6D6D6D;
		margin-top: 10px;
		@media (min-width: $md) {
			margin-top: 23px;
		}
	}

	a {
		font-family: $body-font;
		font-weight: medium;
	}
}