@import "variables";

#client-work {
	padding-top: 5%;
}

.section-small-projects {
	h2 {
		// background-color: black;
		// padding-left: 10px;
		// padding-right: 10px;
		// color: white;
		width: fit-content;
	}
	img {
		width: 100%;
		height: auto !important; // override the lazy loading
		object-fit: fill;
		margin-bottom: 20px;
	}

}

.project-link:hover .small-project-container {
	img {
		-webkit-transform:scale(.95);
	    -moz-transform:scale(.95);
	    -ms-transform:scale(.95);
	    -o-transform:scale(.95);
	     transform:scale(.95);
	}

	p {
		color: black;
	}
}

.small-project-container {
	margin-bottom: $SCALE-3;

	img {
		@include smooth-transition;
		margin-bottom: 30px;
	}

	h4 {
		color: black;
		font-family: $title-font;
		font-weight: bold
	}

	p {
		@include smooth-transition;
		font-family: $body-font;
		margin-top: 0px;
	}
}