@import "variables";

.mono {
	font-weight: normal;
	font-size: 16px;
	color: #6D6D6D;
}

h1 {
	font-family: $secondary-font;
	font-size: 48px;
	color: #000000;
	font-weight: bold;
}

h2, h3 {
	margin-bottom: $SCALE-1;
	font-family: $secondary-font;
	padding-bottom: 5px;
	border-bottom: 10px black;
}

.underline {
	border-bottom: 2px solid;
}

a {
  color: #4A4A4A;
  font-family: $secondary-font;
  font-weight: 500;
  @include smooth-transition;
	&:hover {
		color: #000000;
		text-decoration: none;
	}
}

p, li, h5 {
	font-family: $main-font;
	font-size: 18px;
	color: #6D6D6D;
	line-height: 30px;
}

li {
	margin-top: 5px;
}

.quote {
	text-align: left !important;
	border-left: 2px solid lightgray;
	padding-left: 25px;
}

h5 {
	color: black;
}

blockquote {
	padding-left: 25px;
	border-left: 10px solid #F0F0F0;
	margin-bottom: 30px;
}