@import "variables";

.list-style-type-none {
	list-style-type: none;
	padding-inline-start: 0;
}

#work-with-me {
	h1 {
		font-weight: bold;
		font-size: 48px;
		color: #000000;
		margin-bottom: 30px;
	}

	.top-text {
		margin-bottom: 20px;
	}

	.bottom-text {
		margin-top: 50px;
	}
}