<div class="container">
	<section id="hero" class="hero-home">

		<h1 id="hero-h1">Olivia Chang</h1>
		<p>Developer + designer + <a href="https://misolite.com">ultralight gear designer</a>. Currently at <a
				href="https://www.newgridinc.com/" target="_blank">NewGrid</a>.

		<p>Previously at <a
				href="https://www.returndesign.org/" target="_blank">Return Design</a>, <a
				href="https://www.kyaroassistive.org/">Kyaro Assistive Tech</a>, <a
				href="https://medrhythms.com/">MedRhythms</a>, and <a href="https://envirodatagov.org/">the
				Environmental Data & Governance Initiative</a>.</a>
		</p>
		<p>Hopefully on a trail somewhere. ⛰️</p>
	</section>

	<section class="section-small-projects">
		<h2>Featured Work</h2>
		{% set projectslist = collections["case study"] %}
		{% set col_type = "col-md-6" %}
		{% set case_study = true %}
		{% include "projectslist.njk" %}

		<!-- <h2>B-Reel</h2> -->
		{% set case_study = false %}
		{% set col_type = "col-sm-6 col-md-4" %}
	</section>


	<section class="section-small-projects">
		{% set projectslist = collections["b_reel"] %}
		{% include "projectslist.njk" %}
	</section>

<!--
	<section>
		<h2>Work With Me</h2>
		<div class="col-md-6">
		<blockquote>
			<p>"Olivia has been a lifesaver and a true thought partner in helping us build out our e-commerce website.
				We engaged Olivia while we were still in the early stages of scoping our needs and she was flexible in
				supporting us throughout the process, offering additional recommendations and insights beyond our
				expectations. I
				am grateful for Olivia's expertise, ability to turn around changes quickly, and strong communication
				skills. We would not have been able to launch on time without her services."</p>
			<p>- Elle Pak, Sustainability Lab</p>
		</blockquote>
		<p class="bottom-text">Get in touch at <a href="mailto:hello@oliviachang.me">hello@oliviachang.me</a>
		</p>
		</div>
	</section> -->
</div>