<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
		{#-
      Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
      1. CSS:
        * Add to a per-page bundle using `{% css %}{% endcss %}`
        * Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
      2. Or for JavaScript:
        * Add to a per-page bundle using `{% js %}{% endjs %}`
        * Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
      3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
      #}
  
      {#- Add the contents of a file to the bundle #}
      {%- css %}{% include "public/css/main.css" %}{% endcss %}
  
      {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
      <style>{% getBundle "css" %}</style>
      {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
      {#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

<!--     favicon
  
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> -->
  
  </head>
  