<div class="row">
    {%- for project in projectslist %}
    {% if not project.data.hidden %}
    <div class="{{col_type}}">
        {% if not project.data.wip %}
        <a class="project-link" href="{{ project.url }}" target="_">{% endif %}
            <div class="small-project-container">
                <img src="{{project.data.small_image_url}}" alt="Photo of {{project.data.desc}}">
                
                    {% if case_study %}
                    <h4>{{project.data.title}}: {{project.data.type}}</h4>
                {% else %}
                    <h5>{{project.data.title}}: {{project.data.type}}</h5>
                {% endif %}

                {% if case_study %}
                    <p>{{project.data.desc}}</p>
                {% endif %}
            </div>
            {% if not project.data.wip %}</a>{% endif %}
    </div>
    {% endif %}
    {%- endfor %}
</div>