<!doctype html>
<html lang="{{ metadata.language }}">
{% include "head.njk" %}
<a class="nav-link" id="nav-home" href="/">
	<h1>
		Olivia Chang
	</h1>
</a>

<body>
	<main id="swup" class="transition-fade">
		{{content | safe}}
	</main>
	{% include "footer.njk" %}
</body>

</html>