---
layout: layouts/base.njk
---
<div id="project-page-container">
	<div class="col-lg-10 offset-lg-1">
		<p class="mono project-page-language">{{language}}</p>
		<h1>{{title}}</h1>
		<p>{{desc}}</p>
		<div id="project-page-content">
			<img class="main-image" src="{{local_image_url}}" alt="Photos of the Kyaro wheelchair manuals">
			{{ content | safe }}
		</div>
	</div>
</div>